<main>
  <% content_for :title, t("app.home_title") %>
  <h1>目標管理アプリ</h1>
  <p>
    このアプリは、目標管理を簡単かつ効率的に行えるサービスです。
  </p>
  <p>
    ユーザーは、目標を登録し進捗を追跡しながら、自己成長をサポートするためのツールを利用できます。
  </p>
  <div class="buttons">
    <%= link_to 'ユーザー登録', new_user_registration_path, class: 'btn btn-primary' %>
    <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-secondary' %>
  </div>
</main>
