<!-- app/views/goals/show.html.erb -->

<h1><%= @goal.title %> の詳細</h1>
<p>締め切り: <%= @goal.deadline %></p>
<p>ステータス: <%= @goal.status %></p>

<%= link_to '日記を追加', new_goal_diary_path(@goal), class: 'btn btn-primary' %>
